.answers {
    display: none;
}
.card {
    background:-webkit-linear-gradient(left, #b7f8db 0%, #50a7c2 100%);
    background:-moz-linear-gradient(left, #b7f8db 0%, #50a7c2 100%);
    background:-o-linear-gradient(left, #b7f8db 0%, #50a7c2 100%);
    background:linear-gradient(to right, #b7f8db 0%, #50a7c2 100%);;
}

.card-body {
    min-height: 250px;
    min-width: 300px;
}

.greyed {
    color: grey;
}
.correctlyAnswered {
    color: green;
}
.strike {
    text-decoration: line-through;
}
